################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/AgonyColumns/v15/*
/AgonyColumns/obj/Release/AspnetCompileMerge
/AgonyColumns/obj/Release/Package/PackageTmp
*.suo
*.cache
/AgonyColumns/bin/HolmesMVC.dll
/AgonyColumns/bin/HolmesMVC.pdb
/AgonyColumns/bin/Debug/*
/AgonyColumns/obj/Debug/*


# Project-specific ignores

*.config
AgonyColumnsTest/bin/
AgonyColumnsTest/obj/
npm-debug.log
packages/
